{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Научись плавать !</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href='{% static "css\styles.css" %}'>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">Плавают всеми стилями но тонут одним!</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" aria-current="page" href="home">Главная страница</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" aria-current="page" href="about_swimming">О плавании</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reg_for_training">Запись на тренировку</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about_me">Обо мне</a>
              </li>
            </ul>
          </div>
      </nav>
  </header>
    <section>
        <div class="container-xxl"div style='padding-bottom: 680px; padding-top: 150px;'>
            <div style="padding-bottom: 50px;">
                <center>
                <h2 class='text-center' h2 style="color: rgb(175, 187, 187)">Запись на тренировку прошла успешно</h2>
                </center>  
            </div>
            <div style="padding-bottom: 50px;">
                <center>
                <h2 class='text-center' h2 style="color: rgb(175, 187, 187)">Тренер свяжется с вами в ближайшее время</h2>
                </center>  
            </div>
        </div>
    </section>  
</html>
